<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head") %>

    <%- style %>

</head>

<body>

    

    <main class="container py-4">

        <%- body %>

    </main>

    
    <%- include("../partials/scripts") %>

    <%- script %>

</body>

</html>
