<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head") %>

    <%- style %>

</head>

<body>

    <%- include("../partials/navbar") %>

    <main>

        <%- body %>

    </main>

    <%- include("../partials/footer") %>
    <%- include("../partials/scripts") %>

    <%- script %>

</body>

</html>
